name: Cuttlefish
on:
  workflow_dispatch:

env:
  cmake_common_args: >-
    -DCUTTLEFISH_FORCE_INTERNAL_FREEIMAGE=ON
    -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build/cuttlefish
  cores_count: '4'
  cores_mac_count: '3'
  ispc_version: 1.23.0

jobs:
  Linux:
    runs-on: ubuntu-24.04
    steps:
    - name: checkout
      uses: actions/checkout@v4
    
    - name: Download submodules
      run: |
        git submodule update --init
        sudo apt-get update
        sudo apt-get -y install doxygen
        curl -L https://github.com/ispc/ispc/releases/download/v${{ env.ispc_version }}/ispc-v${{ env.ispc_version }}-linux.tar.gz -o ispc.tar.gz
        tar xzf ispc.tar.gz
        mv ispc-v${{ env.ispc_version }}-linux /tmp/ispc
      working-directory: "${{ github.workspace }}"
    
    - name: Build release
      run: |
        mkdir -p build/Release
        cd build/Release
        cmake -DCMAKE_BUILD_TYPE=Release ${{ env.cmake_common_args }} \
          -DCUTTLEFISH_SHARED=ON -DCUTTLEFISH_ISPC_PATH=/tmp/ispc/bin/ispc \
          ${{ github.workspace }}
        cmake --build . -j ${{ env.cores_count }}
      working-directory: "${{ github.workspace }}"
    
    - name: Package artifact
      run: |
        cmake --build Release --target install
        tar czf cuttlefish-linux.tar.gz cuttlefish
      working-directory: "${{ github.workspace }}/build"
    
    - name: Publish artifact
      uses: actions/upload-artifact@v4
      with:
        name: Linux
        path: "${{ github.workspace }}/build/cuttlefish-linux.tar.gz"

  Linux-ARM64:
    runs-on: ubuntu-22.04-arm
    steps:
    - name: checkout
      uses: actions/checkout@v4
    
    - name: Download submodules
      run: |
        git submodule update --init
        sudo apt-get update
        sudo apt-get -y install doxygen
      working-directory: "${{ github.workspace }}"
    
    - name: Build release
      run: |
        mkdir -p build/Release
        cd build/Release
        cmake -DCMAKE_BUILD_TYPE=Release ${{ env.cmake_common_args }} -DCUTTLEFISH_SHARED=ON \
          ${{ github.workspace }}
        cmake --build . -j ${{ env.cores_count }}
      working-directory: "${{ github.workspace }}"
    
    - name: Package artifact
      run: |
        cmake --build Release --target install
        tar czf cuttlefish-linux-arm64.tar.gz cuttlefish
      working-directory: "${{ github.workspace }}/build"
    
    - name: Publish artifact
      uses: actions/upload-artifact@v4
      with:
        name: Linux-ARM64
        path: "${{ github.workspace }}/build/cuttlefish-linux-arm64.tar.gz"

  Mac:
    runs-on: macos-15
    steps:
    - name: checkout
      uses: actions/checkout@v4
    
    - name: Download submodules
      run: |
        git submodule update --init
        brew install doxygen
        curl -L https://github.com/ispc/ispc/releases/download/v${{ env.ispc_version }}/ispc-v${{ env.ispc_version }}-macOS.universal.tar.gz -o ispc.tar.gz
        tar xzf ispc.tar.gz
        mv ispc-v${{ env.ispc_version }}-macOS.universal /tmp/ispc
      working-directory: "${{ github.workspace }}"
    
    - name: Run CMake
      run: |
        mkdir build
        cd build
        cmake ${{ env.cmake_common_args }} -GXcode -DCUTTLEFISH_SHARED=ON \
          -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64" -DCMAKE_OSX_DEPLOYMENT_TARGET=10.14 \
          -DCUTTLEFISH_ISPC_PATH=/tmp/ispc/bin/ispc ${{ github.workspace }}
      working-directory: "${{ github.workspace }}"
    
    - name: Build release
      run: cmake --build . --config Release
      working-directory: "${{ github.workspace }}/build"
    
    - name: Fixup install path
      run: cmake -DCMAKE_BUILD_WITH_INSTALL_RPATH=ON ${{ github.workspace }}
      working-directory: "${{ github.workspace }}/build"
    
    - name: Package artifact
      run: |
        cmake --build . --config Release --target install
        tar czf cuttlefish-mac.tar.gz cuttlefish
      working-directory: "${{ github.workspace }}/build"
    
    - name: Publish artifact
      uses: actions/upload-artifact@v4
      with:
        name: Mac
        path: "${{ github.workspace }}/build/cuttlefish-mac.tar.gz"

  Windows:
    runs-on: windows-2025
    strategy:
      matrix:
        include:
        - arch: Win32
          artifact: win32
        - arch: x64
          artifact: win64
    steps:
    - name: checkout
      uses: actions/checkout@v4
    
    - name: Download submodules
      run: |
        git submodule update --init
        curl -L https://github.com/ispc/ispc/releases/download/v${{ env.ispc_version }}/ispc-v${{ env.ispc_version }}-windows.zip -o ispc.zip
        unzip ispc.zip
        mv ispc-v${{ env.ispc_version }}-windows /d/ispc
      shell: bash
      working-directory: "${{ github.workspace }}"
    
    - name: Run CMake
      run: |
        mkdir build
        cd build
        cmake ${{ env.cmake_common_args }} -DCUTTLEFISH_SHARED=ON `
          -DCUTTLEFISH_ISPC_PATH=D:/ispc/bin/ispc.exe -A ${{ matrix.arch }} -T v143 `
          ${{ github.workspace }}
      working-directory: "${{ github.workspace }}"
    
    - name: Build release
      run: cmake --build . --config Release
      working-directory: "${{ github.workspace }}/build"
    
    - name: Package artifact
      run: |
        cmake --build . --config Release --target install
        7z a -tzip cuttlefish-${{ matrix.artifact }}.zip cuttlefish
      working-directory: "${{ github.workspace }}/build"
    
    - name: Publish artifact
      uses: actions/upload-artifact@v4
      with:
        name: "${{ matrix.artifact }}"
        path: "${{ github.workspace }}/build/cuttlefish-${{ matrix.artifact }}.zip"
